In [2]:
from dotenv import load_dotenv
import boto3
import os

load_dotenv()

True

In [3]:
s3_client = boto3.client('s3',
    aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
    region_name=os.getenv('AWS_REGION')
)

In [4]:
buckets = s3_client.list_buckets()
for bucket in buckets['Buckets']:
    if 'techcatalyst' in bucket['Name']:
        print(bucket['Name'])

capstone-techcatalyst-conformed
capstone-techcatalyst-raw
capstone-techcatalyst-transformed
techcatalyst-public
techcatalyst-raw
techcatalyst-transformed

In [5]:
bucket_name = 'techcatalyst-raw'
objects = s3_client.list_objects_v2(Bucket=bucket_name)
for obj in objects.get('Contents', []):
    print(obj['Key'])

BLAKE/test.csv
BLAKE/test2.csv
BLAKE/test3.csv
BLAKE/test4.csv
BLAKE/test4.parquet/3eb3c7a40840497db7f67c4b60cb78d0.snappy.parquet
BLAKE/test_export.parquet
BLAKE/upload_file_method_GOOG.csv
BLAKE/upload_fileobj_method.txt
BLAKE_wr/9288e6c1eed4476d98eade7875cbf9c0.snappy.parquet
BLAKE_wr/uploads/wr_newfile.csv
Ben/Million_Songs/
Ben/bingchilling.txt
Ben/gooooog.csv
Ben/parquetGoogleStock/a0eeb97dbd854a5c9cc6e89512faee73.snappy.parquet
Ben/test.csv
Ben/uploads/Google_upload_test
EMMA/emna_goog.csv
EMMA/emna_goog.txt
EMMA/test_export.parquet
MELISSA/test.csv
MELISSA/uploads/GOOG.csv
MELISSA/uploads/fileobj.txt
MELISSA/uploads/new_file.csv
MillionSongSubset/
MillionSongSubset/log-data/2018-11-01-events.json
MillionSongSubset/log-data/2018-11-02-events.json
MillionSongSubset/log-data/2018-11-03-events.json
MillionSongSubset/log-data/2018-11-04-events.json
MillionSongSubset/log-data/2018-11-05-events.json
MillionSongSubset/log-data/2018-11-06-events.json
MillionSongSubset/log-data/2018-11-07-events.json
MillionSongSubset/log-data/2018-11-08-events.json
MillionSongSubset/log-data/2018-11-09-events.json
MillionSongSubset/log-data/2018-11-10-events.json
MillionSongSubset/log-data/2018-11-11-events.json
MillionSongSubset/log-data/2018-11-12-events.json
MillionSongSubset/log-data/2018-11-13-events.json
MillionSongSubset/log-data/2018-11-14-events.json
MillionSongSubset/log-data/2018-11-15-events.json
MillionSongSubset/log-data/2018-11-16-events.json
MillionSongSubset/log-data/2018-11-17-events.json
MillionSongSubset/log-data/2018-11-18-events.json
MillionSongSubset/log-data/2018-11-19-events.json
MillionSongSubset/log-data/2018-11-20-events.json
MillionSongSubset/log-data/2018-11-21-events.json
MillionSongSubset/log-data/2018-11-22-events.json
MillionSongSubset/log-data/2018-11-23-events.json
MillionSongSubset/log-data/2018-11-24-events.json
MillionSongSubset/log-data/2018-11-25-events.json
MillionSongSubset/log-data/2018-11-26-events.json
MillionSongSubset/log-data/2018-11-27-events.json
MillionSongSubset/log-data/2018-11-28-events.json
MillionSongSubset/log-data/2018-11-29-events.json
MillionSongSubset/log-data/2018-11-30-events.json
MillionSongSubset/song_data/A/A/A/TRAAAAW128F429D538.json
MillionSongSubset/song_data/A/A/A/TRAAABD128F429CF47.json
MillionSongSubset/song_data/A/A/A/TRAAADZ128F9348C2E.json
MillionSongSubset/song_data/A/A/A/TRAAAEF128F4273421.json
MillionSongSubset/song_data/A/A/A/TRAAAFD128F92F423A.json
MillionSongSubset/song_data/A/A/A/TRAAAMO128F1481E7F.json
MillionSongSubset/song_data/A/A/A/TRAAAMQ128F1460CD3.json
MillionSongSubset/song_data/A/A/A/TRAAAPK128E0786D96.json
MillionSongSubset/song_data/A/A/A/TRAAARJ128F9320760.json
MillionSongSubset/song_data/A/A/A/TRAAAVG12903CFA543.json
MillionSongSubset/song_data/A/A/A/TRAAAVO128F93133D4.json
MillionSongSubset/song_data/A/A/B/TRAABCL128F4286650.json
MillionSongSubset/song_data/A/A/B/TRAABDL12903CAABBA.json
MillionSongSubset/song_data/A/A/B/TRAABJL12903CDCF1A.json
MillionSongSubset/song_data/A/A/B/TRAABJV128F1460C49.json
MillionSongSubset/song_data/A/A/B/TRAABLR128F423B7E3.json
MillionSongSubset/song_data/A/A/B/TRAABNV128F425CEE1.json
MillionSongSubset/song_data/A/A/B/TRAABRB128F9306DD5.json
MillionSongSubset/song_data/A/A/B/TRAABVM128F92CA9DC.json
MillionSongSubset/song_data/A/A/B/TRAABXG128F9318EBD.json
MillionSongSubset/song_data/A/A/B/TRAABYN12903CFD305.json
MillionSongSubset/song_data/A/A/B/TRAABYW128F4244559.json
MillionSongSubset/song_data/A/A/C/TRAACCG128F92E8A55.json
MillionSongSubset/song_data/A/A/C/TRAACER128F4290F96.json
MillionSongSubset/song_data/A/A/C/TRAACFV128F935E50B.json
MillionSongSubset/song_data/A/A/C/TRAACHN128F1489601.json
MillionSongSubset/song_data/A/A/C/TRAACIW12903CC0F6D.json
MillionSongSubset/song_data/A/A/C/TRAACLV128F427E123.json
MillionSongSubset/song_data/A/A/C/TRAACNS128F14A2DF5.json
MillionSongSubset/song_data/A/A/C/TRAACOW128F933E35F.json
MillionSongSubset/song_data/A/A/C/TRAACPE128F421C1B9.json
MillionSongSubset/song_data/A/A/C/TRAACQT128F9331780.json
MillionSongSubset/song_data/A/A/C/TRAACSL128F93462F4.json
MillionSongSubset/song_data/A/A/C/TRAACTB12903CAAF15.json
MillionSongSubset/song_data/A/A/C/TRAACVS128E078BE39.json
MillionSongSubset/song_data/A/A/C/TRAACZK128F4243829.json
MillionSongSubset/song_data/A/B/A/TRABACN128F425B784.json
MillionSongSubset/song_data/A/B/A/TRABAFJ128F42AF24E.json
MillionSongSubset/song_data/A/B/A/TRABAFP128F931E9A1.json
MillionSongSubset/song_data/A/B/A/TRABAIO128F42938F9.json
MillionSongSubset/song_data/A/B/A/TRABATO128F42627E9.json
MillionSongSubset/song_data/A/B/A/TRABAVQ12903CBF7E0.json
MillionSongSubset/song_data/A/B/A/TRABAWW128F4250A31.json
MillionSongSubset/song_data/A/B/A/TRABAXL128F424FC50.json
MillionSongSubset/song_data/A/B/A/TRABAXR128F426515F.json
MillionSongSubset/song_data/A/B/A/TRABAXV128F92F6AE3.json
MillionSongSubset/song_data/A/B/A/TRABAZH128F930419A.json
MillionSongSubset/song_data/A/B/B/TRABBAM128F429D223.json
MillionSongSubset/song_data/A/B/B/TRABBBV128F42967D7.json
MillionSongSubset/song_data/A/B/B/TRABBJE12903CDB442.json
MillionSongSubset/song_data/A/B/B/TRABBKX128F4285205.json
MillionSongSubset/song_data/A/B/B/TRABBLU128F93349CF.json
MillionSongSubset/song_data/A/B/B/TRABBNP128F932546F.json
MillionSongSubset/song_data/A/B/B/TRABBOP128F931B50D.json
MillionSongSubset/song_data/A/B/B/TRABBOR128F4286200.json
MillionSongSubset/song_data/A/B/B/TRABBTA128F933D304.json
MillionSongSubset/song_data/A/B/B/TRABBVJ128F92F7EAA.json
MillionSongSubset/song_data/A/B/B/TRABBXU128F92FEF48.json
MillionSongSubset/song_data/A/B/B/TRABBZN12903CD9297.json
MillionSongSubset/song_data/A/B/C/TRABCAJ12903CDFCC2.json
MillionSongSubset/song_data/A/B/C/TRABCEC128F426456E.json
MillionSongSubset/song_data/A/B/C/TRABCEI128F424C983.json
MillionSongSubset/song_data/A/B/C/TRABCFL128F149BB0D.json
MillionSongSubset/song_data/A/B/C/TRABCIX128F4265903.json
MillionSongSubset/song_data/A/B/C/TRABCKL128F423A778.json
MillionSongSubset/song_data/A/B/C/TRABCPZ128F4275C32.json
MillionSongSubset/song_data/A/B/C/TRABCRU128F423F449.json
MillionSongSubset/song_data/A/B/C/TRABCTK128F934B224.json
MillionSongSubset/song_data/A/B/C/TRABCUQ128E0783E2B.json
MillionSongSubset/song_data/A/B/C/TRABCXB128F4286BD3.json
MillionSongSubset/song_data/A/B/C/TRABCYE128F934CE1D.json
YOURNAME/test_export.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000000_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000001_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000002_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000003_000000.snappy.parquet
aamnah/uploads/GOOG_NEW.csv
accidents/
accidents/accidents_2017_to_2023_english.csv
alexia/957133637c684b09a94cc753e0c594a2_000000_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000001_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000002_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000003_000000.snappy.parquet
alexia/secret_formula.txt
alexia/upload_GOOG.csv
emma/3a1b7394faa84991a5e7700c963af73f_000000_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000001_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000002_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000003_000000.snappy.parquet
emma/uploads/wr_emma_stock
fabiola/a3a03886216d40279ccfca68cc237524.snappy.parquet
fabiola/test.csv
fabiola/uploads/wr_GOOG.csv
jaden/6e08eee074434aa7abda59ab22bc3ea7.snappy.parquet
jaden/test.csv
jaden/uploads/new_file.csv
michael/e798e42882254cf5a9e99351bd7626d6.snappy.parquet
miraj/DOWNLOADEDGOOGLEDATA.csv
miraj/aa649f748f1a444e98540e3bbe3135d1.snappy.parquet
miraj_jara/uploads/google_stock_data
shaswat/e4e70d26665c4d07af4bdaab85f8975e.snappy.parquet
shaswat/test.csv
shaswat/uploads/new_file.csv
stage/
stage/yellow_tripdata.csv
stage/yellow_tripdata.json
stage/yellow_tripdata.parquet
stocks/
stocks/GOOG.csv
suchitha/55bb31001ebb40eab50c449bb676aa7f.snappy.parquet
suchitha/GOOG.csv.csv
suchitha/uploads/sales.csv
tatwan/51addc9167684aa281c96fd5ae2d5be2.snappy.parquet
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tatwan/buffer.txt
taxi_data/
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000000_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000001_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000002_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000003_000000.snappy.parquet
taxi_data/yellow_tripdata_2024-01.parquet
taxi_data/yellow_tripdata_2024-02.parquet
taxi_data/yellow_tripdata_2024-03.parquet
taxi_data/yellow_tripdata_2024-04.parquet
tyler/3a63de0a979f4b22956d913074a48c24.snappy.parquet
tyler/tyler_another_file.txt
tyler/tyler_file.csv
tyler/uploads/goog_stock_file.csv

**List only CSV objects in a specific bucket `techcatalyst-raw`**

```python
# list objects that are CSV in a specific bucket "techcatalyst-raw" 
for obj in objects.get('Contents', []):
    # YOUR CODE
```

In [6]:
# List only CSV objects in the techcatalyst-raw bucket
for obj in objects.get('Contents', []):
    if obj['Key'].endswith('.csv'):
        print(obj['Key'])

BLAKE/test.csv
BLAKE/test2.csv
BLAKE/test3.csv
BLAKE/test4.csv
BLAKE/upload_file_method_GOOG.csv
BLAKE_wr/uploads/wr_newfile.csv
Ben/gooooog.csv
Ben/test.csv
EMMA/emna_goog.csv
MELISSA/test.csv
MELISSA/uploads/GOOG.csv
MELISSA/uploads/new_file.csv
aamnah/uploads/GOOG_NEW.csv
accidents/accidents_2017_to_2023_english.csv
alexia/upload_GOOG.csv
fabiola/test.csv
fabiola/uploads/wr_GOOG.csv
jaden/test.csv
jaden/uploads/new_file.csv
miraj/DOWNLOADEDGOOGLEDATA.csv
shaswat/test.csv
shaswat/uploads/new_file.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
suchitha/GOOG.csv.csv
suchitha/uploads/sales.csv
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tyler/tyler_file.csv
tyler/uploads/goog_stock_file.csv

In [7]:
s3_client.download_file(Bucket='techcatalyst-raw',  # from which bucket
                        Key='stocks/GOOG.csv',
                        Filename='GOOG.csv')

In [8]:
import io
io_temp = io.BytesIO()
temp = s3_client.download_fileobj(Bucket='techcatalyst-raw', 
                           			Key='stocks/GOOG.csv',
                            		Fileobj=io_temp)

# show buffer content
print(io_temp.getvalue()[:100])

with open('google_stock_downloaded.csv', 'wb') as f:
    f.write(io_temp.getvalue())

b'Date,Open,High,Low,Close,Volume\r\n1/2/2025 16:00:00,191.49,193.2,188.71,190.63,17545162\r\n1/3/2025 16:'

In [9]:
in_memory_file = io.BytesIO(b"yello")
s3_client.upload_fileobj(Fileobj=in_memory_file,
                          Bucket='techcatalyst-raw', 
                          Key='michael/michael.txt')

In [10]:
for obj in objects.get('Contents', []):
    if obj['Key'].startswith('michael/'):
        print(obj['Key'])

michael/e798e42882254cf5a9e99351bd7626d6.snappy.parquet

In [11]:
from dotenv import load_dotenv
import awswrangler as wr

load_dotenv()

True

In [12]:
df = wr.s3.read_csv('s3://techcatalyst-raw/stocks/GOOG.csv')
df.head()

                Date    Open    High     Low   Close    Volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    140 non-null    object
 1   Open    140 non-null    float64
 2   High    140 non-null    float64
 3   Low     140 non-null    float64
 4   Close   140 non-null    float64
 5   Volume  140 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.7+ KB

In [14]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1           aamnah_taxi
2             alexia_db
3           alexia_logs
4           alexia_song
5      awswrangler_test
6                ben_db
7              ben_song
8              ben_taxi
9            blake_taxi
10          blake_wr_db
11              default  default database
12              emma_db
13            emma_taxi
14           fabiola_db
15         fabiola_taxi
16           jaden_taxi
17        jadenastle_db
18           melissa_db
19         melissa_logs
20        melissa_songs
21         melissa_taxi
22           michael_db
23             miraj_db
24           miraj_taxi
25                my_db
26           shaswat_db
27         shaswat_logs
28         shaswat_song
29         shaswat_taxi
30          suchitha_db
31        suchitha_taxi
32            tatwan_db
33  tatwan_inclass_demo
34          tatwan_taxi
35             tyler_db
36           tyler_taxi

In [15]:
name = "michael"
database_name = f"{name}_db"
wr.catalog.create_database(database_name)

AlreadyExists: Database michael_db already exists and <exist_ok> is set to False.

In [ ]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0           alexia_logs
1           alexia_song
2      awswrangler_test
3              ben_song
4           blake_wr_db
5               default  default database
6               emma_db
7         jadenastle_db
8          melissa_logs
9         melissa_songs
10           michael_db
11                my_db
12         shaswat_logs
13         shaswat_song
14            tatwan_db
15  tatwan_inclass_demo
16          tatwan_taxi

In [ ]:
wr.catalog.tables(database=database_name)

Empty DataFrame
Columns: [Database, Table, Description, TableType, Columns, Partitions]
Index: []

In [ ]:
wr.s3.to_parquet(
    df=df, # the DataFrame you just created 
    path=f"s3://techcatalyst-raw/{name}/", # write to the techcatalyst-raw bucket under your folder name (or it would create a new folder if it does not exist)
    dataset=True, 
    database=database_name, # the name of the database you just created in AWS Glue 
    table='MICHAEL_STOCK', # pick a table name for example YOURNAME_STOCK
    mode='overwrite'
    )

{'paths': ['s3://techcatalyst-raw/michael/e798e42882254cf5a9e99351bd7626d6.snappy.parquet'],
 'partitions_values': {}}

In [ ]:
wr.catalog.tables(database=database_name)

,Database,Table,Description,TableType,Columns,Partitions
0,michael_db,michael_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [ ]:
wr.catalog.tables(name_contains="stock")

,Database,Table,Description,TableType,Columns,Partitions
0,ben_db,ben_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
1,blake_wr_db,blake_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
2,emma_db,emma_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
3,fabiola_db,fabiola_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
4,jadenastle_db,jaden_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
5,michael_db,michael_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
6,shaswat_db,shaswat_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,suchitha_db,suchitha_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
9,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [ ]:
import pandas as pd

df = wr.s3.read_parquet_table(database='MICHAEL_DB', 
                              table='MICHAEL_STOCK')

df.head()

                date    open    high     low   close    volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [16]:
desc = "This is my stock table."
param = {"source": "Google", "class": "stock"}
comments = {
    "Date": "Trading Date",
    "Open": "Opening Price",
    "Close": "Closing Price"
}



wr.s3.to_parquet(
    df=df,
    path=f"s3://techcatalyst-raw/{name}/",  # write to the techcatalyst-raw bucket under your folder name
    dataset=True,
    database=database_name,
    table='MICHAEL_STOCK',
    mode='overwrite',
    glue_table_settings=wr.typing.GlueTableSettings(description=desc,  # here we are passing some metadata
                                                    parameters=param, 
                                                    columns_comments=comments),
    )

{'paths': ['s3://techcatalyst-raw/michael/49d5f54d6c4e46b8b4e01f07f7861c35.snappy.parquet'],
 'partitions_values': {}}

In [18]:
table_name = 'MICHAEL_STOCK'
wr.catalog.table(database=database_name, table=table_name)

  Column Name    Type  Partition        Comment
0        date  string      False   Trading Date
1        open  double      False  Opening Price
2        high  double      False
3         low  double      False
4       close  double      False  Closing Price
5      volume  bigint      False

In [20]:
wr.s3.list_objects('s3://techcatalyst-raw/stage/')

wr.s3.download(path='s3://techcatalyst-raw/stocks/GOOG.csv', 
               local_file='./new_file.csv')

In [21]:
your_name = 'michael'
file_name = 'new_file_stocks.csv'
wr.s3.upload(local_file='new_file.csv',path= f's3://techcatalyst-raw/{your_name}/uploads/{file_name}')

In [22]:
wr.s3.list_objects(f's3://techcatalyst-raw/michael/uploads/')

['s3://techcatalyst-raw/michael/uploads/new_file_stocks.csv']

In [23]:
# A name for the new Glue Database it should be YOURNAME_TAXI
db_name = 'michael_taxi'

# A name for the table it should be YOURNAME_TRIPDATA
table_name = 'michael_tripdata'

# the path_direcoty to should point to the bucket (main directory)
s3_path_directory = 's3://techcatalyst-raw/taxi_data/'

# The path_file should be the full path to the actual file
s3_path_file = 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-03.parquet'

In [36]:
# wr.catalog.delete_table_if_exists(database=db_name, table=table_name)

wr.catalog.create_database(db_name)

columns_types, partitions_types = wr.s3.read_parquet_metadata(path=s3_path_file)
print("Successfully read schema from Parquet file.")

AlreadyExists: Database michael_taxi already exists and <exist_ok> is set to False.

In [37]:
wr.catalog.create_parquet_table(
    database=db_name, # pass the database name
    table=table_name, # pass the table name
    path=s3_path_directory, # use the directoy here 
    columns_types=columns_types,  # Pass the schema here
    partitions_types=partitions_types
)
print(f"Table '{table_name}' created successfully in database '{db_name}'.")

Table 'michael_tripdata' created successfully in database 'michael_taxi'.

In [38]:
query = f"SELECT * FROM {table_name} LIMIT 5"

df = wr.athena.read_sql_query(query, database=db_name)

print("\nQuery Results:")
print(df)

Query Results:
   vendorid tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-04-03 17:49:47   2024-04-03 18:39:29              NaN
1         2  2024-04-03 17:58:05   2024-04-03 18:04:41              NaN
2         2  2024-04-03 17:27:15   2024-04-03 17:58:46              NaN
3         2  2024-04-03 17:01:56   2024-04-03 17:31:43              NaN
4         2  2024-04-03 17:42:09   2024-04-03 17:42:57              NaN

   trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  \
0           3.77         NaN               <NA>           236           234
1           0.70         NaN               <NA>           233           233
2           4.63         NaN               <NA>           237           246
3           3.32         NaN               <NA>            87           186
4           0.00         NaN               <NA>           246           246

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             0        35.71    0.0      0.5        0.00           0.0
1             0        14.22    0.0      0.5        2.73           0.0
2             0        31.38    0.0      0.5        0.00           0.0
3             0        35.56    0.0      0.5        0.00           0.0
4             0        14.22    0.0      0.5        3.64           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         39.71                   NaN          NaN
1                    1.0         20.95                   NaN          NaN
2                    1.0         35.38                   NaN          NaN
3                    1.0         39.56                   NaN          NaN
4                    1.0         21.86                   NaN          NaN

In [ ]:
# Complete AWS Lambda Function Code for CSV to Parquet Conversion
import boto3
import awswrangler as wr
from urllib.parse import unquote_plus
import json

def lambda_handler(event, context):
    # Get the source bucket and object name from the Lambda event
    for record in event['Records']:
        source_bucket = record['s3']['bucket']['name']
        source_key = unquote_plus(record['s3']['object']['key'])
    
    print(f'Bucket: {source_bucket}')
    print(f'Key: {source_key}')
    
    input_path = f"s3://{source_bucket}/{source_key}"
    print(f'Input Path: {input_path}')
    
    # Define the destination bucket and key
    destination_bucket = "techcatalyst-public"  # Target bucket name as a string
    
    # Derive the output key (keep same folder structure, replace file extension with .parquet)
    if source_key.lower().endswith('.csv'):
        output_key = source_key[:-4] + ".parquet"
    else:
        output_key = source_key + ".parquet"
        
    output_path = f"s3://{destination_bucket}/{output_key}"
    print(f'Output Path: {output_path}')
    
    # Read the CSV file from S3
    try:
        input_df = wr.s3.read_csv([input_path])
    except Exception as e:
        print("error on read")
        print(e)
        return {
            'statusCode': 500,
            'body': json.dumps('Error reading source CSV file')
        }
    
    # Write the DataFrame to Parquet format in the destination S3 bucket
    result = wr.s3.to_parquet(
        df=input_df,                    # The DataFrame to write
        path=output_path,               # S3 path for the output file
        dataset=False,                  # Single file, not partitioned dataset
        compression='snappy'            # Compression for better performance
    )
    
    print("RESULT: ")
    print(result)
    
    return {
        'statusCode': 200,
        'body': json.dumps('CSV file converted to Parquet and moved successfully!')
    }